dialog::backdrop {
  background: rgb(0 0 0 / 0.5);
}

.modal {
  position: relative;
  transition: opacity 0.3s;
  outline: none;
  border: none;
  background: transparent;
}

.modal::backdrop {
  transition: opacity 0.3s;
}

.modal.is-open,
.modal.is-close {
  opacity: 0;
}

.modal.is-open::backdrop,
.modal.is-close::backdrop {
  opacity: 0;
}

.modal-container {
  position: fixed;
  inset: 0;
  width: min(calc(100% - 100px), 800px);
  height: fit-content;
  margin: auto;
  background: white;
}

.modal-inner {
  max-height: calc(100dvh - 100px);
  padding: 50px;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-gutter: stable;
}
